<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="/nav :: navFragment(${member})"></nav>

<content>
    <div th:if="${board.id == null}" colspan="5">
        <p>권한이 없거나 게시글이 존재하지 않습니다..</p>
    </div>

    <form th:action th:object="${board}" method="post">
        <div th:unless="${board.id == null}">

            <table>
                <tr>
                    <td>글번호</td>
                    <td th:text="${board.id}"></td>
                </tr>
                <tr>
                    <td><label for="title" >제목</label></td>
                    <td>
                        <div>
                            <input type="text" id="title" th:field="*{title}"
                                   th:errorclass="field-error"
                                   placeholder="제목을 입력하세요.">
                            <div class="field-error" th:errors="*{title}">제목 오류</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td th:text="${board.email}"></td>
                </tr>
                <tr>
                    <td><label for="content" >내용</label></td>
                    <td>
                        <div>
                            <textarea id="content" th:field="*{content}"
                                      th:errorclass="field-error"
                                      placeholder="내용을 입력하세요."></textarea>
                            <div class="field-error" th:errors="*{content}">내용 오류</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>작성일</td>
                    <td th:text="${board.createDate}"></td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td th:text="${board.hits}"></td>
                </tr>
            </table>
        </div>

        <div>
            <button type="submit">게시글 수정</button>
        </div>
    </form>
</content>

</body>
</html>