<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<nav th:replace="/nav :: navFragment(${member})"></nav>

<main>
    <div th:if="${board.id == null}" colspan="5" class="center">
        <p>권한이 없거나 게시글이 존재하지 않습니다..</p>
    </div>

    <form th:unless="${board.id == null}" th:action th:object="${board}" method="post">
        <div class="center">

            <table>
                <tr>
                    <td>글번호</td>
                    <td th:text="${board.id}"></td>
                </tr>
                <tr>
                    <td><label for="title" >제목</label></td>
                    <td>
                        <div>
                            <input type="text" id="title" th:field="*{title}" th:errorclass="field-error" placeholder="제목을 입력하세요.">
                            <div class="field-error" th:errors="*{title}">제목 오류</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td><input class="no-border" type="text" th:field="*{email}" readonly></td>
                </tr>
                <tr>
                    <td><label for="content" >내용</label></td>
                    <td>
                        <div>
                            <textarea id="content" th:field="*{content}" th:errorclass="field-error" placeholder="내용을 입력하세요."></textarea>
                            <div class="field-error" th:errors="*{content}">내용 오류</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>작성일</td>
                    <td> <input class="no-border" type="text" th:field="*{createDate}" readonly></td>
                </tr>
                <tr>
                    <td>조회수</td>
                    <td><input class="no-border" type="text" th:field="*{hits}" readonly></td>
                </tr>
            </table>
        </div>

        <div class="center">
            <button type="submit">게시글 수정</button>
        </div>
    </form>
</main>

</body>
</html>