<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<nav th:replace="/nav :: navFragment(${member})"></nav>

<content>
    <table>
        <thead>
            <td>번호</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>등록일</td>
            <td>조회</td>
        </thead>
        <tr th:if="${#lists.size(pagingResponse.list) == 0}" colspan="5">
           <td colspan="5">등록된 게시물이 없습니다.</td>
        </tr>
        <tr th:unless="${#lists.size(pagingResponse.list) == 0}" th:each="board : ${pagingResponse.list}">
            <td th:text="${board.id}">번호</td>
            <td><a th:text="${board.title}" th:href="@{/board/{id}/details(id=${board.id})}">제목</a></td>
            <td th:text="${board.email}">글쓴이</td>
            <td th:text="${{board.createDate}}"></td>
            <td th:text="${board.hits}">조회1</td>
        </tr>

    </table>

    <div>
        <button type="button" onclick="location.href='/member/board/write'">글쓰기</button>
    </div>
</content>

</body>
</html>

